[submodule "workers/indexer"]
	path = workers/indexer
	url = https://github.com/Research-Group-IxD/vhm-worker-indexer.git
[submodule "workers/resonance"]
	path = workers/resonance
	url = https://github.com/Research-Group-IxD/vhm-worker-resonance.git
[submodule "workers/reteller"]
	path = workers/reteller
	url = https://github.com/Research-Group-IxD/vhm-worker-reteller.git
[submodule "common/utils"]
	path = common/utils
	url = https://github.com/Research-Group-IxD/vhm-common-utils.git
[submodule "k8s"]
	path = k8s
	url = https://github.com/Research-Group-IxD/vhm-k8s-manifests.git
