apiVersion: v1
kind: Service
metadata:
  name: resonance-service
  namespace: vhm
  labels:
    app: resonance
    component: worker
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: resonance

