apiVersion: v1
kind: Service
metadata:
  name: reteller-service
  namespace: vhm
  labels:
    app: reteller
    component: worker
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: reteller

